body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: url('assets/background/default.gif') no-repeat center center fixed;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
      background-image: url(assets/background/mobile.gif);
  }
}
